/* Task.module.css */
.task {
    width: 60%;
    margin: auto;    
    width: 52%;
}

.taskHeader {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 80px;
}
ul{
    list-style-type: none;
}

.tarefa {
    color: var(--gray-100);
    font-size: 16px;
}

.concluida {
    color: green;
    font-size: 16px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.tarefaCriadatexto{
    color: var(--blue)

}
.tarefaCriadanumero{
    margin-left: 1rem;
    color: var(--gray-200);
    display: inline-block;
    padding: 2px 8px; /* Adicione o espaço necessário ao redor do número */
    border-radius: 40%; /* Deixe a sombra redonda */
    background-color: var(--gray-400); /* Cor de fundo */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Sombra */
    font-size: 1rem;
    
}
.tarefaConcluidaTexto{
    color: var(--purple)

}
.tarefaConcluidaNumero{
    margin-left: 1rem;
    color: var(--gray-200);
    display: inline-block;
    padding: 6px 8px; /* Adicione o espaço necessário ao redor do número */
    border-radius: 40%; /* Deixe a sombra redonda */
    background-color: var(--gray-400); /* Cor de fundo */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Sombra */
    font-size: 1rem;
    
}
  
  /* Estilo para a tarefa não completada */
.taskContainer {
    background: var(--gray-400); /* Cor de fundo */
    color: var(--gray-100);  /* Cor do texto */
    margin-bottom: 10px; /* Espaço entre as tarefas */
    border-radius: 10px; /* Cantos arredondados */
    height: 60px;
    
   
}
.inputContainer{
    display: flex;
    align-items:flex-start;
    gap: 1rem;
    padding: 1rem;
    
}
.taskCheckbox{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    flex: 0.2;
    background-color: var(--gray-100);
    border: 2px solid var(--blue); /* borda azul */
    border-radius: 50%; /* para deixar redondo */
    width: 20px; /* dimensione de acordo com suas necessidades */
    height: 20px; /* dimensione de acordo com suas necessidades */
    
}
.taskCheckbox:checked {
    background-color: var(--gray-400); /* substitua por sua cor de fundo preferida quando o checkbox estiver marcado */
}

.tarefaTexto{
    flex: 9.6;
    overflow-wrap: break-word;
    overflow: auto;
    
}
.deleteButton{
    flex: 0.2;
    background: none;
    border: none;
    color: var(--gray-300);
      
}
.tarefaCompletada {
    text-decoration: line-through;
  }
